{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>Mad Lib Fun!!</h1>
    <p>Do you like mad libs? Look no further than this page!</p>
	<img src="static/images/bananaman.png" />
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-3">
      <h2>What are Mad Libs?!</h2>
      <p>Mad Libs is a word game where one player prompts others for a list of words to substitute for blanks in a story. Once they are done, they read the story outloud.</p>
    </div>

    <div class="col-lg-3">
      <h2>Who invented Mad Libs?! </h2>
      <p>Mad Libs was made in 1953 by Leonard Stern and Roger Price. Although they co-created the game, they couldn't agree on a name for it. It wasn't even until five years later when Stern and Price were eating at a restaurant in New York City. The men overheard an argument between a talent agent and an actor. During the argument, the actor said that he wanted to "ad-lib" an upcoming interview. The agent retorted that ad-libbing an interview would be "mad". Stern and Price used that conversation to create the name "Mad Libs". The duo released the first book in 1958. More than 110 million copies of Mad Libs books have been sold.</p>
    </div>

    <div class="col-lg-3">
      <h2>What is the format?!</h2>
      <p>The Mad Libs books contain  short stories on each page with many key words replaced with blanks. Under each blank is specified a category, such as "noun", "verb", "place", "celebrity," "Exclamation" or "part of the body". </p>
   </div>

   
  </div>
</div>
{% endblock %}
